* {
    font-family: 'Courier New', Courier, monospace;
}

#main-heading {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.5rem;
    text-align: center;
    background-color: rgb(184, 124, 240);
    border-style: solid;
}

h1:not(#main-heading) {
    text-align: center;
    background-color:darkcyan;
    border-style: solid;
}

h2 {
    background-color: cadetblue;
    border-style: solid;
}

img {
    display: block;
    margin: 0 auto;
    width: 500px;
    height: auto;
}
